.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .logo  {
    width: 100px;
} 

.links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}
.list