body {
    display: flex;
    flex-direction: column;
    background-color: ;
    margin: auto;
    flex: ;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 0px auto;
    padding-top: 10px;
}

 .logo  {
    width: 100px;
} 

.links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}

.fourth,
.dark {
    
    flex-direction: column;
}

.dark {
background-color: #1F2937;
color: #F9FAF8;
height: 400px;
}

.second {
    
    flex-direction: row;
    display: flex;
    width: 1000px;
    margin: 0px auto;
    justify-content: space-between;
}

.paceholder1 {
    background-color: gray;
    min-width: 200px;
}
.third {
    display: flex;
    background-color: #F9FAF8;
    flex-direction: column;
    center
}
second
