body {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 1;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    margin: 0px auto;
    padding-top: 10px;
}

 .logo  {
    width: 100px;
} 

.links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}

.dark {
background-color: #1F2937;
color: #F9FAF8;
}

.second {
    
    flex-direction: row;
    display: flex;
    width: 900px;
    margin: 0px auto;
    justify-content: space-between;
    padding: 70px 0px;
}

.paceholder1 {
    background-color: gray;
    min-width: 400px;
}

.third {
    display: flex;
    background-color: #F9FAF8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtext{
    display: flex;
    gap: 20px;
    margin: 40px 100px 100px 100px;
    text-align: center;
    padding: 0px 230px;
}
.second .intro {
    max-width: 300px;
} 
.image img{
    border-style: solid;
    height: 120px;
    width: 120px;
    border-radius: 13px;
    border-color: #3882F6;
}

.quote {
display: flex;
flex-direction: column;
background: #e5e7e5;
padding: 140px 320px;
}

.one {
font-size: 36px;
font-style: italic;
font-weight: 300;
}

.two {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: bold;
}

.fourth {
    display: flex;
    background: #3882F6;
    margin: 70px auto;
    width: 82i0px;
    justify-content: center;
    align-items: center;
}
.signup {
    display: block;
    width: 90px;
    height: 40px;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    border-color: white;
}

